<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/header') %>
    <title>Página no encontrada</title>
</head>
<body>
   
    <%- include('templates/navigation') %>

    <div class="container p-4">
        <div class="col-md-4 offset-md-4">
            <div class="card card-body">
                <h1 class="display-4">Página no encontrada</h1>
            </div>
        </div>
    </div>

</body>
</html>